fastapi
uvicorn[standard]
ollama-python
langchain
langchain-community
langchain-huggingface
faiss-cpu
unstructured
python-multipart
pydantic
numpy
sentence-transformers
beautifulsoup4
faiss-cpu
ollama
black
ruff
sqlmodel
qdrant-client